
@{
    ViewData["Title"] = "ErrorMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center my-3">
    <div>
        <div style="height:350px;width:350px;margin:auto">
            <img src="~/img/noproduct.jpg" />
        </div>
        <h3 class="text-center fw-bold"><span class="text-danger">OOPS...!</span><br />You Can't Bid second time in same product</h3>
    </div>
</div>
