@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="intro-section" style="background-image: url('/img/homepage/background.jpg');">
    <section class="container h-100 m-auto ">
        <div class="row align-items-center my-auto h-100 justify-content-center rounded-3  mx-3 ">
            <div class="col-md-6 bg-white shadow text-center h-auto loginForm " style="position:relative">
                <form class="text-center" method="post">
                    <div b-vvgflfpxwk="" class="logo">
                        <h3 b-vvgflfpxwk="" style="color:black;">Hi-Tech Traders</h3>
                    </div>
                    <div style="width: 50%" class="text-center m-auto">
                        <div class=" mb-4">
                            <input type="email" required value="fena@gmail.com" id="form2Example11" class="form-control bg-gray" style="border-radius:10px" placeholder="Email address" name="email" />
                        </div>
                        <div class=" mb-4"> 
                            <input type="password" required value="fena" placeholder='Enter Your Password' id="form2Example22" class="form-control bg-gray" style="border-radius:10px" name="password" />
                        </div>
                    </div>
                    <div class="text-center pt-1 mb-1 pb-1">
                        <input type="submit" value="Log In" class="btn btn-primary-main px-5 gradient-custom-2" />
                    </div>
                    <div class="text-center pt-1 mb-3 pb-1 ">
                        Create a new account? <a asp-controller="Home" asp-action="Register" style="text-decoration:underline;font-weight:700;font-size:16px">Register</a>
                    </div>
                  @*  @{
                            <p class="text-black">@ViewBag.message.ToString()</p>
                    }*@
                    
                </form>
            </div>
        </div>
    </section>
    
</div>

